h1,
h2,
h3,
span,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(110, 112, 112);
}

.container {
  max-width: 500px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 40px;
  margin-top: 100px;
  box-shadow: 10px 10px 30px #000;
}

.title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.sub-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.1rem;
}

.lista-dias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.lista-dias a {
  display: block;
  padding: 10px 25px;
  background-color: rgb(137, 139, 139);
  border-radius: 4px;
  color: #fff;
}
